.DS_Store

BSOID_2.34/
B-SOID-master/
B-SOID/
out.mp4

DeepLabCut/

VideoEditing/frames/
VideoEditing/*.mp4
VideoEditing/EEG/
VideoEditing/EEG_new/
VideoEditing/__pycache__/

DataDiscovery/*.mp4
DataDiscovery/__pycache__/

test.py