VideoEditing/EEG/
VideoEditing/EEG_new/
.DS_Store
VideoEditing/__pycache__/
BSOID_2.34/
out.mp4
VideoEditing/EEG/
VideoEditing/EEG_new/
B-SOID-master/
VideoEditing/frames/
VideoEditing/*.mp4
B-SOID/

DataDiscovery/*.mp4
DataDiscovery/__pycache__/
